* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box !important;
    font-family: UTM Neo Sans Intel Regular;
}

body {
    font: 70% UTM Neo Sans Intel Regular, Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    width: 100%;
    background: #f5f5f5;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    background: #fff;
    box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.1);
}

.header_02 {
    width: 100%;
    display: flex;
    background: rgb(41, 82, 250);
    height: 100px;
    padding-left: 7%;
}

.logo {
    width: 40%;
    margin-top: 20px;
}

.logo .logo_right {
    width: 100%;
    display: flex;
}

.logo .logo_right .img_2 {
    width: 60px;
    height: 60px;
}

.logo .logo_right .the_h1 {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
}

.nav {
    width: 100%;
    display: flex;
    text-align: center;
}

.nav .nav_01 {
    padding-left: 10%;
    width: 75%;
    display: inline-block;
}

.nav .nav_01 ul {
    display: flex;
}

.header .nav_01 a {
    display: inline-block;
    text-transform: uppercase;
    line-height: 70px;
    color: #111;
    font-weight: bold;
    font-size: 15px;
    padding: 0px 25px;
    border-bottom: 5px solid #fff;
    transition: .3s ease;
}

.nav_01 a:hover {
    border-bottom: 5px solid rgb(41, 82, 250);
    color: rgb(41, 82, 250)!important;
}

.login {
    margin-left: 10%;
}

.submi {
    font-size: 15px;
    background: white;
    color: rgb(41, 82, 250);
    line-height: 70px;
    border: 2px solid rgb(41, 82, 250);
    padding: 10px 25px;
    outline: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    animation: .3s ease;
    cursor: pointer;
}

.submi:hover {
    background: rgb(41, 82, 250);
    color: #fff;
    box-shadow: 2px 3px 4px rgb(41, 82, 250);
}

.account {
    width: 100px;
    height: 100px;
    background: #111;
    position: absolute;
}